
#eminemPhoto {
    height: 300px;
    width: 300px;
}

#headerBody {
    height: 50px;
    width: auto;
    background-color: midnightblue;
    color: aliceblue;
    padding-left: 30px;
    padding-top: 5px;
}

#mainContent {
    padding: 10px;
}

body {
    background-color: azure;
    margin: 0;
}

h1 {
    margin: 0;
    display: flex;
}

#detailAlbum {
    padding-left: 350px;
    width: 150px;
    margin-top: -300px;
    padding-bottom: 70px;
}